* {
  font-family: sans-serif, "Roboto", "Arial";
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  background-color: grey;
  padding: 0px 16px;
}

#search_bar {
  border: 2px solid black;
  width: 425px;
  height: 35px;
}

.left_side {
  /* border: 2px solid black; */
  width: 970px;
}

.left_side p {
  font-size: 14px;
  color: #606060;
}

.right_side {
  /* border: 2px solid black; */
  width: 400px;
  margin-left: 20px;
  padding-top: 5px;
}

.main {
  display: flex;
  /* border: 2px solid green; */
  padding: 24px 24px 0px 57px;
  background-color: #f9f9f9;
}

#trend_text {
  font-size: 12px;
  color: #065fd4;
}

.bolded {
  font-size: 14px;
  color: #131313;
  font-weight: bold;
}

#menu_buttons {
  display: flex;
}

#menu_buttons span {
  margin-top: 5px;
  cursor: pointer;
}

.style-scope {
  cursor: pointer;
}

#subscription_div {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 4px 4px 0px 10px;
}

#name_of_channel span {
  cursor: pointer;
}

#subscription_button {
  background-color: #cc0000;
  border-radius: 2px;
  width: 142px;
  height: 36px;
  float: right;
  cursor: pointer;
}

#subscription_button p {
  color: white;
  text-align: center;
  line-height: 10px;
  font-family: sans-serif, "Roboto", "Noto";
  font-size: 14px;
}

#channel_img {
  border-radius: 50%;
  width: 36px;
  cursor: pointer;
}

.comments {
  display: flex;
}

.right_side_video {
  /* border: 2px solid black; */
  display: flex;
  margin-bottom: 6px;
}

.picture_of_video {
  width: 168px;
  height: 94px;
  cursor: pointer;
  margin-right: 5px;
}

.picture_of_video img {
  width: 168px;
  height: 94px;
  margin-right: 8px;
}

.name_of_video p {
  font-size: 14px;
  margin: 0px;
  color: black;
}

.channel_name p {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 2.5px;
}

.video_info p {
  margin-top: 0px;
  font-size: 12px;
}
